/* **********  GENERAL *******************************************/

/* 
dark grey = 464545
lighter grey = 8C8C8C
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Manjari', sans-serif;
    
}

.hide {
    opacity: 0;
}

h1 {
    font-size: 7em;
    text-align: center;
}

strong {
    font-size: 1.4em;
    font-weight: bolder;
}

.phone{
    display: none;
}
/* ********** HEADER *******************************************/

#landing {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.screen {
    background-color: #464545;
    max-width: 100%;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 100px 1.50px rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: perspective(3000px);
}

.iconsContainer {
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 100px;
    margin-top: 10px;
    justify-content: space-around;
    align-content: center;
}

.iconsContainer img {
    margin-left: 0px 1px 0px 20px;
}

.iconsContainer :nth-child(1) {
    margin-top: 15%;
}

.addressContainer {
    background-color: #8C8C8C;
    width: 100%;
    height: 40px;
    margin-top: 40px;
}

.addressIcons {
    margin-left: 20px;
}

.addressIcons img {
    opacity: 0.75;
    width: 30px;
    margin-top: 5px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.contentContainer .imgContainer {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contentContainer img {
    width: 45%;
    /* margin-top: 40px; */
    border-radius: 15px;
    opacity: 0.75;
    display: flex;
    transform: translateZ(40px);
    box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.10);
}

.aboutMe {
    height: 80%;
    border: 1px solid #8C8C8C;
    border-radius: 15px;
    margin: 30px 0px 40px 0px;
    box-sizing: border-box;
    margin-bottom: 200px;
    color: white;
    font-size: 2em;
    width: 60%;
    padding: 25px;
    transform: translateZ(40px);
    box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.10);
}

.intro {
    font-size: 2.5em;
}

.linksContainter {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linksContainter img {
    width: 50px;
    opacity: 0.75;
    transform: translateZ(40px);
    box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.10);
}

/* ********** SECTION SKILLS *******************************************/

/* skills (section) -> twoSkills(div) -> aSkill (article) */

.skills {
    margin: 0px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    align-items: center;
}

.skills h1 {
    color: #464545;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 75px;
}

.twoSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}

.twoSkills :nth-child(1) {
    margin-bottom: 50px;
    ;
}

.twoSkills :nth-child(2) {
    margin-top: 60px;
}

article {
    text-align: center;
    width: 350px;
    min-width: 350px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(141, 141, 141, 0.671);
    padding: 25px 30px 25px 30px;
    border-radius: 15px;
}

article h2 {
    font-size: 4em;
    color: white;
    ;
}

/* ********** SECTION FUTURE *******************************************/

.futureSkills {
    background-color: #464545;
    padding-top: 150px;
    width: 100%;
    margin: 0px;
    margin-top: 75px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.futureSkills h1 {
    color: white;
}

/* ********** SECTION CONTACT *******************************************/

.futureSkills {
    clip-path: polygon(50% 10%, 84% 0, 100% 0, 100% 79%, 78% 79%, 50% 89%, 23% 78%, 0 78%, 0 0, 20% 0);
    padding-top: 200px;
    padding-bottom: 350px;
}

.contact {
    margin-top: 0px;
}

.contact h1 {
    padding: 50px;
    color: #464545;
    font-size: 4em;
}

form {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, .textArea {
    width: 75%;
    margin: 20px;
    padding-left: 25px;
    height: 50px;
    border: #464545 solid 2px;
    border-radius: 15px;
}

.textArea {
    height: auto;
    padding: 25px;
}

.label {
    margin: 10px 15% 10px 0px;
    margin-left: 15%;
    display: block;
    width: 80%;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 2em;
}

.button {
    padding: 1em 3em;
    border: 0.16em solid #464545;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #464545;
    text-align: center;
    transition: all 0.15s;
    width: 200px;
}

/* ********** SECTION FOOTER *******************************************/

footer {
    background-color: #464545;
    clip-path: polygon(0 0, 10% 0, 48% 24%, 90% 0, 100% 0, 100% 100%, 0 100%);
    /* https://bennettfeely.com/clippy/ */
    padding: 100px;
    margin-top: 100px;
}

.footerContainer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.linkedIn img, .github img {
    width: 75px;
    opacity: 0.75;
}

footer h1 {
    color: white;
    font-size: 5em;
}

/* ********** MEDIA queries *******************************************************************/

/* ********************************************************************************************/

@media screen and (max-width: 1275px){  
    .aboutMe p{
        font-size: 0.9em;
    }

}



@media screen and (max-width: 1050px) {
    /* ********** GENERAL - MOBILE *******************************************************************/
    
   
    /* ********** HEADER - MOBILE *******************************************************************/
    header{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .screen{
        display: none;
    }

    .phone{
        display: flex;
        width: 300px;
        height: 526px;
        background-color: black;
        border-radius: 25px;
        box-sizing: border-box;
        box-shadow: 0px 0px 100px 1.50px rgba(255, 255, 255, 0.75);

    }

    .deviceScreen{
        width: 100%;
        height: 95%;
        padding-top: 25px;
        margin: 15px;
        background: rgb(149,142,145);
        background: radial-gradient(circle, rgba(149,142,145,1) 0%, rgba(36,37,38,1) 100%);
        /* background-color: #464545; */
        border-radius: 25px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .nodge{
        background-color: black;
        width: 55%;
        height: 40px;
        position: absolute;
        top: 0;
        border-radius: 15px;
    }

    .img_Container{
        height: 25%;
        width: 75%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .img_Container img{
        width: auto;
        height: 100%;
        border-radius: 10px;
    }

    .aboutMe{
        width: 90%;
        height: 40%;
        box-sizing: border-box;
        font-size: 1em;
        margin:0px;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        box-sizing: border-box;
    }

    .aboutMe p{
        font-size: 1.3em;
    }


    .links_containter{
        height: 15%;
        width: 100%;
        box-sizing: content-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }

    .links_containter img{
        width: 30px;
    }

    .homeBar{
        height: 5px;
        width:   35%;
        border-radius: 5px;
        background-color: white;    
        position: absolute;
        bottom: 20px;
    }

    
    
    /* ********** SKILLS - MOBILE *******************************************************************/
    .twoSkills {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .aSkill {
        margin: 25px 0px 0px 0px !important;
    }
    /* ********** FUTURE - MOBILE *******************************************************************/
    /* ********** CONTACT - MOBILE *******************************************************************/
    /* ********** FOOTER - MOBILE *******************************************************************/
}